{% extends "base.html" %}

{% block title %}Rekisteröidy — Aloitepalvelu{% endblock %}

{% block main %}
  <h1>Luo uusi käyttäjä</h1>

  <form method="post" class="form">
    <label>Käyttäjänimi:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Etunimi:</label><br>
    <input type="text" name="first_name" required minlength="2"><br><br>

    <label>Sukunimi:</label><br>
    <input type="text" name="last_name" required minlength="2"><br><br>

    <label>Salasana:</label><br>
    <input type="password" name="password1" required><br><br>

    <label>Salasana uudelleen:</label><br>
    <input type="password" name="password2" required><br><br>

    <button type="submit">Rekisteröidy</button>
  </form>

  <p>Onko sinulla jo tunnus? 
    <a href="{{ url_for('index') }}">Kirjaudu sisään</a>
  </p>
{% endblock %}
